/* Container div styling */
.image-button-container {
    display: inline-block;
    margin: 5px;
  }
  
  /* Image button styling */
  .image-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    float: right;
  }
  